@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;600&display=swap');


/* Higher-end styles */
body {
  margin: 0;
  color: #0C2851;
}

/* Texts styles */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

p {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

/* Links styles */
a {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
}

a:hover { 
  text-decoration: none;
}

/* Components styles */
img {
  margin: 0;
}

div {
  margin: 0;
}